// Google font
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

// DD Entypo
@font-face {
  font-family: 'entypo';
  src: url('../fonts/Entypo-webfont.eot');
  src: url('../fonts/Entypo-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Entypo-webfont.woff') format('woff'),
       url('../fonts/Entypo-webfont.ttf') format('truetype'),
       url('../fonts/Entypo-webfont.svg#entyporegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
