* {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  margin: 0;
}

.copyright {
  text-align: center;
  font-size: 11px;
  color: $colLpCpyRt;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

#logo {
  display: block;
  width: 30.2469%;
  max-width: 392px;
  //min-width: 321px;
  
  img {
    width: 100%;
  }
}

#admin-menu {
  .dropdown {
    .admin-menu-icon {
      img {
        width: 16px;
      }
    }
  }
}

#page-title {
  display: none;
  margin: 0 0 36px;
  font-size: 28px;
  line-height: 1;
  
  text: {
    align: center;
    transform: uppercase;
  }
  
  color: #fff;
  
  &:before,
  &:after {
    @include shortBorderHorizontal(false, $gray3);
    max-width: 50px;
    height: 1px;
  }
  
  &:before {
    margin-bottom: 10px;
  }
  
  &:after {
    margin-top: 10px;
  }
}

a {
  transition: all 0.5s;
}

.rsvp-button {
  display: block;
  background: $orange1;
  text-align: center;
  @include linkVisited(color, #fff);
  @include linkAllStates(text-decoration, none);
  line-height: 1.4375;
  
  @include hoverActiveFocus(background, #fff);
  @include hoverActiveFocus(color, $orange1);
}
