* {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

.no-style {
  padding: 0;
  margin: 0;
  
  li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

body {
  margin: 0;
}

.copyright {
  text-align: center;
  font-size: 11px;
  color: $colLpCpyRt;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

#logo {
  display: block;
  width: 30.2469%;
  max-width: 392px;
  //min-width: 321px;
  
  img {
    width: 100%;
  }
}

#admin-menu {
  .dropdown {
    .admin-menu-icon {
      img {
        width: 16px;
      }
    }
  }
}

#page-title {
  display: none;
  margin: 0 0 36px;
  font-size: 28px;
  line-height: 1;
  
  text: {
    align: center;
    transform: uppercase;
  }
  
  color: $colLpCpyRt;
  
  &:before,
  &:after {
    @include shortBorderHorizontal(false, $gray3);
    max-width: 50px;
    height: 1px;
  }
  
  &:before {
    margin-bottom: 10px;
  }
  
  &:after {
    margin-top: 10px;
  }
}

.show-title {
  #page-title {
    display: inline-block;
  }
  
  #contentwrap {
    text-align: center;
    padding: 30px 10px 160px;
  }
  
  #content {
    text-align: left;
  }
}

a {
  transition: all $defTransitionSpeed;
  @include linkAllStates(text-decoration, none);
  @include linkAllStates(color, $colLpSnUpBxBg);
}

.views-more-link {
  font: {
    weight: 600;
    size: 18px;
  }
}

.rsvp-button {
  display: block;
  background: $orange1;
  text-align: center;
  @include linkVisited(color, #fff);
  @include linkAllStates(text-decoration, none);
  line-height: 1.4375;
  
  @include hoverActiveFocus(background, #fff);
  @include hoverActiveFocus(color, $orange1);
}

.item-list .social-media {
  width: 100%;
  background: #000;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  font-size: 0;
  line-height: 0;
  
  li {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0 16px 0 0;
    
    &.facebook {
      margin-right: 20px;
    }
    
    &.instagram {
      margin-right: 12px;
    }
    
    &.itunes,
    &:last-child {
      margin-right: 0;
    }
    
    a {
      position: relative;
      display: block;
      @include linkTextOffscreen();
      
      img {
        display: block;
        opacity: 1;
      }
      
      &:hover,
      &:active,
      &:focus {
        img {
          opacity: 0;
        }
      }
    }
  }
}

#block-tns-site-kickstarter {
  position: absolute;
  left: 70px;
  bottom: 25%;
  width: 300px;
}

.kickstarter-button {
  @include noText();
  
  img {
    display: block;
  }
}
