// MAX 990
@media screen and (max-width: 990px) {
  // Footer
  .region-footer {
    .email-newsletter {
      padding: 20px;
      
      .block {
        &-content {
          form > div > div {
            &.signup-box {
              clear: both;
            }
          }
        }
      }
    }
  }
}

// MAX 960
@media screen and (max-width: 960px) {
  .not-front {
    #block-system-main {
      width: 98%;
    }
  }
}

// MAX 910
@media screen and (max-width: 910px) {
  .not-front #logo {
    width: 164px;
  }
  
  .js {
    #headerwrap,
    #primary-navigation,
    #block-system-main-menu {
      background: $colLpTopBg
    }
    
    #header,
    #primary-navigation {
      overflow: visible;
    }
    
    #primary-navigation {
      right: 0;
      max-width: none;
    }
    
    .mobile-menu-icon {
      float: right;
      display: block;
      width: 30px;
      margin-right: 10px;
      font: 60px/1 entypo;
      @include linkAllStates(color, #fff);
      
      &.open {
        @include linkAllStates(color, $colLpSnUpBxBg);
      }
    }
    
    .region-nav {
      position: absolute;
      top: 100%;
      width: 100%;
      
      #block-system-main-menu {
        display: none;
      }
      
      #block-system-main-menu .menu {
        li {
          display: block;
          width: 100%;
          margin: 1rem 0;
          text-align: center;
          
          a {
            display: inline-block;
            width: auto;
          }
        }
      }
    }
  }
}

// MAX 530
@media screen and (max-width: 530px) {
  // Footer
  .region-footer {
    .email-newsletter {
      float: left;
      padding: 10px 10px;
      width: 100%;
      max-width: 100%;
      
      .block {
        &-title {
          float: none;
          clear: both;
          width: 100%;
          margin: 0 0 12px;
        }
        
        &-content {
          width: 100%;
          
          form > div > div {
            &.name,
            &.zip {
              &-box {
                float: none;
                clear: both;
                width: 50%;
                margin: 0 0 6px 0;
              }
            }
            
            &.signup-box {
              width: 60%;
              margin-left: 0;
            }
            
            &.form-actions {
              width: 20%;
            }
          }
        }
      }
    }
  }
  
  // LP
  .lp {
    &-001 {
      &-bottom {
        .email-newsletter {
          .block {
            &-title,
            &-content {
              float: none;
              clear: both;
              width: 100%;
            }
            &-title {
              margin: 0 0 12px;
            }
            
            &-content {
              form > div > div {
                &.name,
                &.zip {
                  &-box {
                    float: none;
                    clear: both;
                    width: 50%;
                    margin: 0 0 6px;
                  }
                }
                
                &.signup-box {
                  width: 60%;
                  margin-left: 0;
                }
                
                &.form-actions {
                  width: 20%;
                }
              }
            }
          }
        }
      }
    }
  }
}