.mobile-menu-icon {
  display: none;
}

#block-system-main-menu {
  width: 100%;
  
  .block-title {
    display: none;
  }
  
  .menu,
  .menu .leaf {
    padding: 0;
    margin: 0;
  }
  
  .menu {
    width: 100%;
    text-align: center;
  }
  
  .menu .leaf {
    list-style: none;
    display: inline-block;
    margin: 0 1.08%;
    
    a {
      display: block;
      padding: 0 8px;
      border: 2px solid transparent;
      @include linkAllStates(color, #fff);
      text: {
        transform: uppercase;
        decoration: none;
      }
      
      @include hoverActiveFocus(border-color, #fff);
      &.active {
        border-color: #fff;
      }
      
      font: {
        weight: bold;
        size: 22px;
      }
      
      letter-spacing: 2px;
    }
  }
}
