/* Base
 * -----------------------------------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
* {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif; }

body {
  margin: 0; }

.copyright {
  text-align: center;
  font-size: 11px;
  color: #3c3c3c; }

img {
  width: 100%;
  max-width: 100%;
  height: auto; }

#logo {
  display: block;
  width: 30.2469%;
  max-width: 392px; }
  #logo img {
    width: 100%; }

#block-system-main-menu {
  width: 100%; }
  #block-system-main-menu .block-title {
    display: none; }
  #block-system-main-menu .menu,
  #block-system-main-menu .menu .leaf {
    padding: 0;
    margin: 0; }
  #block-system-main-menu .menu {
    width: 100%;
    text-align: center; }
  #block-system-main-menu .menu .leaf {
    list-style: none;
    display: inline-block;
    margin: 0 1.08%; }
    #block-system-main-menu .menu .leaf a {
      display: block;
      padding: 0 8px;
      border: 2px solid transparent;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: bold;
      font-size: 22px;
      letter-spacing: 2px; }
      #block-system-main-menu .menu .leaf a:link, #block-system-main-menu .menu .leaf a:visited, #block-system-main-menu .menu .leaf a:hover, #block-system-main-menu .menu .leaf a:active, #block-system-main-menu .menu .leaf a:focus {
        color: #fff; }
      #block-system-main-menu .menu .leaf a:hover, #block-system-main-menu .menu .leaf a:active, #block-system-main-menu .menu .leaf a:focus {
        border-color: #fff; }
      #block-system-main-menu .menu .leaf a.active {
        border-color: #fff; }

.social-media {
  width: 100%;
  background: #000;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  font-size: 0;
  line-height: 0; }
  .social-media li {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0 16px 0 0; }
    .social-media li.facebook {
      margin-right: 20px; }
      .social-media li.facebook a:hover, .social-media li.facebook a:active, .social-media li.facebook a:focus {
        background: url("../images/bg-icon-facebook.png") 0 0 no-repeat; }
    .social-media li.instagram {
      margin-right: 12px; }
      .social-media li.instagram a:hover, .social-media li.instagram a:active, .social-media li.instagram a:focus {
        background: url("../images/bg-icon-instagram.png") 0 0 no-repeat; }
    .social-media li.spotify a:hover, .social-media li.spotify a:active, .social-media li.spotify a:focus {
      background: url("../images/bg-icon-spotify.png") 0 0 no-repeat; }
    .social-media li.itunes, .social-media li:last-child {
      margin-right: 0; }
    .social-media li.itunes a:hover, .social-media li.itunes a:active, .social-media li.itunes a:focus {
      background: url("../images/bg-icon-itunes.png") 0 0 no-repeat; }
    .social-media li.twitter a:hover, .social-media li.twitter a:active, .social-media li.twitter a:focus {
      background: url("../images/bg-icon-twitter.png") 0 0 no-repeat; }
    .social-media li.youtube a:hover, .social-media li.youtube a:active, .social-media li.youtube a:focus {
      background: url("../images/bg-icon-youtube.png") 0 0 no-repeat; }
    .social-media li a {
      position: relative;
      display: block;
      text-indent: -9999px;
      overflow: hidden;
      text-decoration: none;
      display: block;
      font-size: 0;
      text-align: start; }
      .social-media li a img {
        display: block;
        opacity: 1; }
      .social-media li a:hover img, .social-media li a:active img, .social-media li a:focus img {
        opacity: 0; }

.region-footer {
  background: #2f2e2e;
  width: 100%;
  z-index: 5; }
  .region-footer:before, .region-footer:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .region-footer:after {
    clear: both; }
  .region-footer #block-block-1 {
    float: left;
    height: 100px; }
    .region-footer #block-block-1 iframe {
      margin: 10px 0; }
  .region-footer .email-newsletter {
    float: right;
    max-width: 50%;
    padding: 35px 20px;
    margin: auto;
    overflow: hidden; }
    @media screen and (max-width: 990px) {
      .region-footer .email-newsletter {
        padding: 20px 20px; } }
    @media screen and (max-width: 530px) {
      .region-footer .email-newsletter {
        float: left;
        padding: 10px 10px;
        width: 100%;
        max-width: 100%; } }
    .region-footer .email-newsletter .block-title {
      float: left;
      width: 20%;
      margin-right: 2%; }
      @media screen and (max-width: 530px) {
        .region-footer .email-newsletter .block-title {
          float: none;
          clear: both;
          width: 100%;
          margin: 0 0 12px; } }
      .region-footer .email-newsletter .block-title h2 {
        padding: 0;
        margin: 0;
        font-weight: normal;
        font-size: 14px;
        line-height: 29px;
        color: #ffffff; }
    .region-footer .email-newsletter .block-content,
    .region-footer .email-newsletter .block-content div {
      margin: 0; }
    .region-footer .email-newsletter .block-content {
      float: left;
      max-width: 78%; }
      @media screen and (max-width: 530px) {
        .region-footer .email-newsletter .block-content {
          width: 100%; } }
      .region-footer .email-newsletter .block-content form > div > div {
        float: left; }
        .region-footer .email-newsletter .block-content form > div > div.name-box, .region-footer .email-newsletter .block-content form > div > div.zip-box, .region-footer .email-newsletter .block-content form > div > div.signup-box {
          margin-right: 1%; }
        .region-footer .email-newsletter .block-content form > div > div.name-box {
          width: 30%; }
        .region-footer .email-newsletter .block-content form > div > div.zip-box {
          width: 16%; }
        .region-footer .email-newsletter .block-content form > div > div.signup-box {
          width: 38%; }
          @media screen and (max-width: 990px) {
            .region-footer .email-newsletter .block-content form > div > div.signup-box {
              clear: both; } }
        .region-footer .email-newsletter .block-content form > div > div.form-actions {
          width: 12%; }
      @media screen and (max-width: 530px) {
        .region-footer .email-newsletter .block-content {
          float: none;
          clear: both;
          width: 100%; }
          .region-footer .email-newsletter .block-content form > div > div.name-box, .region-footer .email-newsletter .block-content form > div > div.zip-box {
            float: none;
            clear: both;
            width: 50%;
            margin: 0 0 6px 0; }
          .region-footer .email-newsletter .block-content form > div > div.signup-box {
            width: 60%;
            margin-left: 0; }
          .region-footer .email-newsletter .block-content form > div > div.form-actions {
            width: 20%; } }
    .region-footer .email-newsletter .element-invisible {
      display: none; }
    .region-footer .email-newsletter ::-webkit-input-placeholder {
      font-family: "Source Sans Pro"; }
    .region-footer .email-newsletter :-moz-placeholder {
      font-family: "Source Sans Pro"; }
    .region-footer .email-newsletter ::-moz-placeholder {
      font-family: "Source Sans Pro"; }
    .region-footer .email-newsletter :-ms-input-placeholder {
      font-family: "Source Sans Pro"; }
    .region-footer .email-newsletter ::-webkit-input-placeholder {
      font-size: 11px; }
    .region-footer .email-newsletter :-moz-placeholder {
      font-size: 11px; }
    .region-footer .email-newsletter ::-moz-placeholder {
      font-size: 11px; }
    .region-footer .email-newsletter :-ms-input-placeholder {
      font-size: 11px; }
    .region-footer .email-newsletter ::-webkit-input-placeholder {
      font-style: italic; }
    .region-footer .email-newsletter :-moz-placeholder {
      font-style: italic; }
    .region-footer .email-newsletter ::-moz-placeholder {
      font-style: italic; }
    .region-footer .email-newsletter :-ms-input-placeholder {
      font-style: italic; }
    .region-footer .email-newsletter ::-webkit-input-placeholder {
      color: #999; }
    .region-footer .email-newsletter :-moz-placeholder {
      color: #999; }
    .region-footer .email-newsletter ::-moz-placeholder {
      color: #999; }
    .region-footer .email-newsletter :-ms-input-placeholder {
      color: #999; }
    .region-footer .email-newsletter input {
      color: #fff; }
      .region-footer .email-newsletter input:link, .region-footer .email-newsletter input:visited, .region-footer .email-newsletter input:hover, .region-footer .email-newsletter input:active, .region-footer .email-newsletter input:focus {
        outline: none; }
      .region-footer .email-newsletter input[type="text"], .region-footer .email-newsletter input[type="email"], .region-footer .email-newsletter input[type="textarea"], .region-footer .email-newsletter input[type="select"] {
        display: block;
        margin: 0;
        padding: 0 8px 3px;
        border: 1px solid #494949;
        background: #151515; }
      .region-footer .email-newsletter input[type="text"], .region-footer .email-newsletter input[type="email"] {
        width: 100%;
        height: 29px; }
      .region-footer .email-newsletter input[type="submit"] {
        display: block;
        height: 29px;
        width: 100%;
        background: #134ecf;
        border: none;
        font-size: 13px;
        cursor: pointer; }
        .region-footer .email-newsletter input[type="submit"]:hover, .region-footer .email-newsletter input[type="submit"]:active, .region-footer .email-newsletter input[type="submit"]:focus {
          background: #fff; }
        .region-footer .email-newsletter input[type="submit"]:hover, .region-footer .email-newsletter input[type="submit"]:active, .region-footer .email-newsletter input[type="submit"]:focus {
          color: #134ecf; }

.placeholder-label label {
  display: none; }

/* Pages
 * -----------------------------------------------------------------------------*/
.not-front {
  font-size: 14px;
  line-height: 1.7142;
  color: #3c3c3c; }
  .not-front p {
    margin-top: 1em;
    margin-bottom: 0; }
  .not-front #headerwrap {
    background: url(../images/bg-nav.jpg) 0 0 repeat-x;
    border-bottom: 1px solid #999;
    margin: 0 0 12px 0;
    padding: 10px 0; }
  .not-front #header {
    position: relative;
    width: 100%;
    max-width: 980px;
    padding: 0 10px;
    margin: 0 auto;
    overflow: hidden; }
  .not-front #primary-navigation {
    position: absolute;
    z-index: 1;
    right: 10px;
    bottom: 0;
    width: 100%;
    max-width: 720px;
    overflow: hidden; }
  .not-front #block-system-main-menu .menu {
    text-align: right; }
    .not-front #block-system-main-menu .menu .leaf a {
      font-size: 17px; }
  .not-front #logo {
    position: relative;
    z-index: 2;
    display: block;
    width: 20%;
    max-width: 164px; }
  .not-front #page-title {
    display: none; }
  .not-front #block-system-main {
    width: 100%;
    padding: 0 10px;
    margin: 0 auto; }
    @media screen and (max-width: 960px) {
      .not-front #block-system-main {
        width: 98%; } }
  .not-front .region-content {
    position: relative;
    z-index: 1; }

.front #logo {
  position: absolute;
  left: 70px;
  top: 70px;
  z-index: 2; }
.front #page-title {
  display: none; }
.front .region-content {
  position: relative;
  z-index: 1; }
.front #block-system-main-menu {
  position: absolute;
  bottom: 14px; }
.front .field-name-field-lp-img {
  font-size: 0;
  line-height: 0; }
  .front .field-name-field-lp-img img {
    display: block; }

.node-type-about-page #block-system-main {
  max-width: 980px;
  margin-bottom: 30px; }
.node-type-about-page .content {
  width: 100%; }
  .node-type-about-page .content .field-name-field-image {
    width: 100%;
    margin-bottom: 30px; }
    .node-type-about-page .content .field-name-field-image img {
      display: block;
      width: 80%;
      margin: 0 auto; }
  .node-type-about-page .content blockquote {
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 1.4;
    width: 80%;
    margin: 2rem auto; }
    .node-type-about-page .content blockquote:before {
      content: "";
      display: block;
      width: 350px;
      height: 4px;
      background: #d9d9d9;
      margin: auto; }
    .node-type-about-page .content blockquote:after {
      content: "";
      display: block;
      width: 350px;
      height: 4px;
      background: #d9d9d9;
      margin: auto;
      margin-top: 1em; }

.lp-001 #logo {
  max-width: 321px;
  margin: 0 auto 50px; }
.lp-001-content a,
.lp-001-content input[type="submit"], .lp-001-bottom a,
.lp-001-bottom input[type="submit"] {
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms; }
.lp-001-content {
  width: 100%;
  padding: 55px 20px 16px;
  background: #28272f;
  font-size: 0;
  line-height: 0; }
  .lp-001-content .messages {
    font-size: 14px;
    line-height: normal; }
  .lp-001-content > .tabs {
    font-size: 14px;
    line-height: normal; }
  .lp-001-content .social-media {
    width: 200px;
    padding: 0;
    margin: 0 auto;
    text-align: center; }
    .lp-001-content .social-media li {
      list-style: none;
      display: inline-block;
      padding: 0;
      margin: 0 18px 0 0; }
      .lp-001-content .social-media li.facebook {
        margin-right: 22px; }
        .lp-001-content .social-media li.facebook a:hover, .lp-001-content .social-media li.facebook a:active, .lp-001-content .social-media li.facebook a:focus {
          background: url("../images/bg-icon-facebook.png") 0 0 no-repeat; }
      .lp-001-content .social-media li.instagram {
        margin-right: 15px; }
        .lp-001-content .social-media li.instagram a:hover, .lp-001-content .social-media li.instagram a:active, .lp-001-content .social-media li.instagram a:focus {
          background: url("../images/bg-icon-instagram.png") 0 0 no-repeat; }
      .lp-001-content .social-media li.spotify {
        margin-right: 17px; }
        .lp-001-content .social-media li.spotify a:hover, .lp-001-content .social-media li.spotify a:active, .lp-001-content .social-media li.spotify a:focus {
          background: url("../images/bg-icon-spotify.png") 0 0 no-repeat; }
      .lp-001-content .social-media li.itunes, .lp-001-content .social-media li:last-child {
        margin-right: 0; }
      .lp-001-content .social-media li.itunes a:hover, .lp-001-content .social-media li.itunes a:active, .lp-001-content .social-media li.itunes a:focus {
        background: url("../images/bg-icon-itunes.png") 0 0 no-repeat; }
      .lp-001-content .social-media li.twitter a:hover, .lp-001-content .social-media li.twitter a:active, .lp-001-content .social-media li.twitter a:focus {
        background: url("../images/bg-icon-twitter.png") 0 0 no-repeat; }
      .lp-001-content .social-media li.youtube a:hover, .lp-001-content .social-media li.youtube a:active, .lp-001-content .social-media li.youtube a:focus {
        background: url("../images/bg-icon-youtube.png") 0 0 no-repeat; }
      .lp-001-content .social-media li a {
        position: relative;
        display: block;
        text-indent: -9999px;
        overflow: hidden;
        text-decoration: none;
        display: block;
        font-size: 0;
        text-align: start; }
        .lp-001-content .social-media li a img {
          display: block;
          opacity: 1; }
        .lp-001-content .social-media li a:hover img, .lp-001-content .social-media li a:active img, .lp-001-content .social-media li a:focus img {
          opacity: 0; }
  .lp-001-content .field-name-field-lp-vid, .lp-001-content .field-name-field-lp-img {
    width: 100%;
    max-width: 683px;
    margin: 0 auto 20px; }
    .lp-001-content .field-name-field-lp-vid .player, .lp-001-content .field-name-field-lp-img .player {
      width: 100%; }
    .lp-001-content .field-name-field-lp-vid iframe, .lp-001-content .field-name-field-lp-img iframe {
      display: block;
      margin: auto; }
.lp-001-bottom {
  padding-top: 36px;
  padding-bottom: 36px;
  background: #080808;
  font-size: 14px;
  color: #fff; }
  .lp-001-bottom .email-newsletter {
    width: 100%;
    max-width: 700px;
    padding: 0 20px;
    margin: auto;
    overflow: hidden; }
    .lp-001-bottom .email-newsletter .block-title {
      float: left;
      width: 20%;
      margin-right: 2.0833%; }
      @media screen and (max-width: 530px) {
        .lp-001-bottom .email-newsletter .block-title {
          float: none;
          clear: both;
          width: 100%;
          margin: 0 0 12px; } }
      .lp-001-bottom .email-newsletter .block-title h2 {
        padding: 0;
        margin: 0;
        font-weight: normal;
        font-size: 14px;
        line-height: 29px; }
    .lp-001-bottom .email-newsletter .block-content,
    .lp-001-bottom .email-newsletter .block-content div {
      margin: 0; }
    .lp-001-bottom .email-newsletter .block-content {
      float: left;
      width: 77.9167%; }
      @media screen and (max-width: 530px) {
        .lp-001-bottom .email-newsletter .block-content {
          width: 100%; } }
      .lp-001-bottom .email-newsletter .block-content form > div > div {
        float: left; }
        .lp-001-bottom .email-newsletter .block-content form > div > div.name-box, .lp-001-bottom .email-newsletter .block-content form > div > div.zip-box {
          width: 23.8461%; }
        .lp-001-bottom .email-newsletter .block-content form > div > div.name-box {
          margin-right: 1.0989%; }
        .lp-001-bottom .email-newsletter .block-content form > div > div.signup-box {
          width: 36.6043%;
          margin: 0 1.0989%; }
        .lp-001-bottom .email-newsletter .block-content form > div > div.form-actions {
          width: 12.4067%; }
      @media screen and (max-width: 530px) {
        .lp-001-bottom .email-newsletter .block-content {
          float: none;
          clear: both;
          width: 100%; }
          .lp-001-bottom .email-newsletter .block-content form > div > div.name-box, .lp-001-bottom .email-newsletter .block-content form > div > div.zip-box {
            float: none;
            clear: both;
            width: 50%;
            margin: 0 0 6px; }
          .lp-001-bottom .email-newsletter .block-content form > div > div.signup-box {
            width: 60%;
            margin-left: 0; }
          .lp-001-bottom .email-newsletter .block-content form > div > div.form-actions {
            width: 20%; } }
    .lp-001-bottom .email-newsletter .element-invisible {
      display: none; }
    .lp-001-bottom .email-newsletter ::-webkit-input-placeholder {
      font-family: "Source Sans Pro"; }
    .lp-001-bottom .email-newsletter :-moz-placeholder {
      font-family: "Source Sans Pro"; }
    .lp-001-bottom .email-newsletter ::-moz-placeholder {
      font-family: "Source Sans Pro"; }
    .lp-001-bottom .email-newsletter :-ms-input-placeholder {
      font-family: "Source Sans Pro"; }
    .lp-001-bottom .email-newsletter ::-webkit-input-placeholder {
      font-size: 11px; }
    .lp-001-bottom .email-newsletter :-moz-placeholder {
      font-size: 11px; }
    .lp-001-bottom .email-newsletter ::-moz-placeholder {
      font-size: 11px; }
    .lp-001-bottom .email-newsletter :-ms-input-placeholder {
      font-size: 11px; }
    .lp-001-bottom .email-newsletter ::-webkit-input-placeholder {
      font-style: italic; }
    .lp-001-bottom .email-newsletter :-moz-placeholder {
      font-style: italic; }
    .lp-001-bottom .email-newsletter ::-moz-placeholder {
      font-style: italic; }
    .lp-001-bottom .email-newsletter :-ms-input-placeholder {
      font-style: italic; }
    .lp-001-bottom .email-newsletter ::-webkit-input-placeholder {
      color: #999; }
    .lp-001-bottom .email-newsletter :-moz-placeholder {
      color: #999; }
    .lp-001-bottom .email-newsletter ::-moz-placeholder {
      color: #999; }
    .lp-001-bottom .email-newsletter :-ms-input-placeholder {
      color: #999; }
    .lp-001-bottom .email-newsletter input {
      color: #fff; }
      .lp-001-bottom .email-newsletter input:link, .lp-001-bottom .email-newsletter input:visited, .lp-001-bottom .email-newsletter input:hover, .lp-001-bottom .email-newsletter input:active, .lp-001-bottom .email-newsletter input:focus {
        outline: none; }
      .lp-001-bottom .email-newsletter input[type="text"], .lp-001-bottom .email-newsletter input[type="email"], .lp-001-bottom .email-newsletter input[type="textarea"], .lp-001-bottom .email-newsletter input[type="select"] {
        display: block;
        margin: 0;
        padding: 0 8px 3px;
        border: 1px solid #494949;
        background: #151515; }
      .lp-001-bottom .email-newsletter input[type="text"], .lp-001-bottom .email-newsletter input[type="email"] {
        width: 100%;
        height: 29px; }
      .lp-001-bottom .email-newsletter input[type="submit"] {
        display: block;
        height: 29px;
        width: 100%;
        background: #134ecf;
        border: none;
        font-size: 13px;
        cursor: pointer; }
        .lp-001-bottom .email-newsletter input[type="submit"]:hover, .lp-001-bottom .email-newsletter input[type="submit"]:active, .lp-001-bottom .email-newsletter input[type="submit"]:focus {
          background: #fff; }
        .lp-001-bottom .email-newsletter input[type="submit"]:hover, .lp-001-bottom .email-newsletter input[type="submit"]:active, .lp-001-bottom .email-newsletter input[type="submit"]:focus {
          color: #134ecf; }

/*# sourceMappingURL=screen.css.map */
