/* Base
 * -----------------------------------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
* {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif; }

body {
  margin: 0; }

.copyright {
  text-align: center;
  font-size: 11px;
  color: #3c3c3c; }

#logo {
  display: block;
  width: 100%;
  max-width: 321px;
  margin: 0 auto 50px; }
  #logo img {
    width: 100%; }

/* Pages
 * -----------------------------------------------------------------------------*/
.lp-001-content a,
.lp-001-content input[type="submit"], .lp-001-bottom a,
.lp-001-bottom input[type="submit"] {
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms; }
.lp-001-content {
  width: 100%;
  padding: 55px 20px 16px;
  background: #28272f;
  font-size: 0;
  line-height: 0; }
  .lp-001-content .messages {
    font-size: 14px;
    line-height: normal; }
  .lp-001-content > .tabs {
    font-size: 14px;
    line-height: normal; }
  .lp-001-content .social-media {
    width: 200px;
    padding: 0;
    margin: 0 auto;
    text-align: center; }
    .lp-001-content .social-media li {
      list-style: none;
      display: inline-block;
      padding: 0;
      margin: 0 18px 0 0; }
      .lp-001-content .social-media li.facebook {
        margin-right: 22px; }
        .lp-001-content .social-media li.facebook a:hover, .lp-001-content .social-media li.facebook a:active, .lp-001-content .social-media li.facebook a:focus {
          background: url("../images/bg-icon-facebook.png") 0 0 no-repeat; }
      .lp-001-content .social-media li.instagram {
        margin-right: 15px; }
        .lp-001-content .social-media li.instagram a:hover, .lp-001-content .social-media li.instagram a:active, .lp-001-content .social-media li.instagram a:focus {
          background: url("../images/bg-icon-instagram.png") 0 0 no-repeat; }
      .lp-001-content .social-media li.spotify {
        margin-right: 17px; }
        .lp-001-content .social-media li.spotify a:hover, .lp-001-content .social-media li.spotify a:active, .lp-001-content .social-media li.spotify a:focus {
          background: url("../images/bg-icon-spotify.png") 0 0 no-repeat; }
      .lp-001-content .social-media li.itunes, .lp-001-content .social-media li:last-child {
        margin-right: 0; }
      .lp-001-content .social-media li.itunes a:hover, .lp-001-content .social-media li.itunes a:active, .lp-001-content .social-media li.itunes a:focus {
        background: url("../images/bg-icon-itunes.png") 0 0 no-repeat; }
      .lp-001-content .social-media li.twitter a:hover, .lp-001-content .social-media li.twitter a:active, .lp-001-content .social-media li.twitter a:focus {
        background: url("../images/bg-icon-twitter.png") 0 0 no-repeat; }
      .lp-001-content .social-media li.youtube a:hover, .lp-001-content .social-media li.youtube a:active, .lp-001-content .social-media li.youtube a:focus {
        background: url("../images/bg-icon-youtube.png") 0 0 no-repeat; }
      .lp-001-content .social-media li a {
        position: relative;
        display: block;
        text-indent: -9999px;
        overflow: hidden;
        text-decoration: none;
        display: block;
        font-size: 0;
        text-align: start; }
        .lp-001-content .social-media li a img {
          display: block;
          opacity: 1; }
        .lp-001-content .social-media li a:hover img, .lp-001-content .social-media li a:active img, .lp-001-content .social-media li a:focus img {
          opacity: 0; }
  .lp-001-content .field-name-field-lp-vid, .lp-001-content .field-name-field-lp-img {
    width: 100%;
    max-width: 683px;
    margin: 0 auto 20px; }
    .lp-001-content .field-name-field-lp-vid .player, .lp-001-content .field-name-field-lp-img .player {
      width: 100%; }
    .lp-001-content .field-name-field-lp-vid iframe, .lp-001-content .field-name-field-lp-img iframe {
      display: block;
      margin: auto; }
.lp-001-bottom {
  padding-top: 36px;
  padding-bottom: 36px;
  background: #080808;
  font-size: 14px;
  color: #fff; }
  .lp-001-bottom .email-newsletter {
    width: 100%;
    max-width: 520px;
    padding: 0 20px;
    margin: auto;
    overflow: hidden; }
    .lp-001-bottom .email-newsletter .block-title {
      float: left;
      margin-right: 2.0833%; }
      @media screen and (max-width: 430px) {
        .lp-001-bottom .email-newsletter .block-title {
          float: none;
          clear: both;
          margin: 0 0 12px; } }
      .lp-001-bottom .email-newsletter .block-title h2 {
        padding: 0;
        margin: 0;
        font-weight: normal;
        font-size: 14px;
        line-height: 29px; }
    .lp-001-bottom .email-newsletter .block-content,
    .lp-001-bottom .email-newsletter .block-content div {
      margin: 0; }
    .lp-001-bottom .email-newsletter .block-content {
      float: left;
      width: 76.0416%; }
      .lp-001-bottom .email-newsletter .block-content form > div > div {
        float: left; }
        .lp-001-bottom .email-newsletter .block-content form > div > div.name-box {
          width: 33.7912%; }
        .lp-001-bottom .email-newsletter .block-content form > div > div.signup-box {
          width: 45.6043%;
          margin: 0 1.0989%; }
        .lp-001-bottom .email-newsletter .block-content form > div > div.form-actions {
          width: 18.4067%; }
      @media screen and (max-width: 430px) {
        .lp-001-bottom .email-newsletter .block-content {
          float: none;
          clear: both;
          width: 100%; }
          .lp-001-bottom .email-newsletter .block-content form > div > div.name-box {
            float: none;
            clear: both;
            margin: 0 0 6px; }
          .lp-001-bottom .email-newsletter .block-content form > div > div.signup-box {
            margin-left: 0; } }
    .lp-001-bottom .email-newsletter .element-invisible {
      display: none; }
    .lp-001-bottom .email-newsletter ::-webkit-input-placeholder {
      font-family: "Source Sans Pro"; }
    .lp-001-bottom .email-newsletter :-moz-placeholder {
      font-family: "Source Sans Pro"; }
    .lp-001-bottom .email-newsletter ::-moz-placeholder {
      font-family: "Source Sans Pro"; }
    .lp-001-bottom .email-newsletter :-ms-input-placeholder {
      font-family: "Source Sans Pro"; }
    .lp-001-bottom .email-newsletter ::-webkit-input-placeholder {
      font-size: 11px; }
    .lp-001-bottom .email-newsletter :-moz-placeholder {
      font-size: 11px; }
    .lp-001-bottom .email-newsletter ::-moz-placeholder {
      font-size: 11px; }
    .lp-001-bottom .email-newsletter :-ms-input-placeholder {
      font-size: 11px; }
    .lp-001-bottom .email-newsletter ::-webkit-input-placeholder {
      font-style: italic; }
    .lp-001-bottom .email-newsletter :-moz-placeholder {
      font-style: italic; }
    .lp-001-bottom .email-newsletter ::-moz-placeholder {
      font-style: italic; }
    .lp-001-bottom .email-newsletter :-ms-input-placeholder {
      font-style: italic; }
    .lp-001-bottom .email-newsletter ::-webkit-input-placeholder {
      color: #999; }
    .lp-001-bottom .email-newsletter :-moz-placeholder {
      color: #999; }
    .lp-001-bottom .email-newsletter ::-moz-placeholder {
      color: #999; }
    .lp-001-bottom .email-newsletter :-ms-input-placeholder {
      color: #999; }
    .lp-001-bottom .email-newsletter input {
      color: #fff; }
      .lp-001-bottom .email-newsletter input:link, .lp-001-bottom .email-newsletter input:visited, .lp-001-bottom .email-newsletter input:hover, .lp-001-bottom .email-newsletter input:active, .lp-001-bottom .email-newsletter input:focus {
        outline: none; }
      .lp-001-bottom .email-newsletter input[type="text"], .lp-001-bottom .email-newsletter input[type="email"], .lp-001-bottom .email-newsletter input[type="textarea"], .lp-001-bottom .email-newsletter input[type="select"] {
        display: block;
        margin: 0;
        padding: 0 8px 3px;
        border: 1px solid #494949;
        background: #151515; }
      .lp-001-bottom .email-newsletter input[type="text"], .lp-001-bottom .email-newsletter input[type="email"] {
        width: 100%;
        height: 29px; }
      .lp-001-bottom .email-newsletter input[type="submit"] {
        display: block;
        height: 29px;
        width: 100%;
        background: #134ecf;
        border: none;
        font-size: 13px;
        cursor: pointer; }
        .lp-001-bottom .email-newsletter input[type="submit"]:hover, .lp-001-bottom .email-newsletter input[type="submit"]:active, .lp-001-bottom .email-newsletter input[type="submit"]:focus {
          background: #fff; }
        .lp-001-bottom .email-newsletter input[type="submit"]:hover, .lp-001-bottom .email-newsletter input[type="submit"]:active, .lp-001-bottom .email-newsletter input[type="submit"]:focus {
          color: #134ecf; }

/*# sourceMappingURL=screen.css.map */
