.node-type-about-page {
  #block-system-main {
    max-width: 980px;
    margin-bottom: 30px;
  }
  
  .content {
    width: 100%;
  
    .field-name-field-image {
      width: 100%;
      
      img {
        display: block;
        width: 80%;
        margin: 0 auto;
      }
      
      margin: {
        bottom: 30px;
      }
    }
    
    blockquote {
      font-weight: bold;
      font-size: 1.125rem;
      line-height: 1.4;
      width: 80%;
      margin: 2rem auto;
      //border-top: 3px solid #ccc;
      //border-bottom: 3px solid #ccc;
      &:before {
        @include shortBorderHorizontal();
      }
      
      &:after {
        @include shortBorderHorizontal(true);
      }
    }
  }
}