.front {
  #logo {
    position: absolute;
    left: 70px;
    top: 70px;
    z-index: 2;
  }
  
  #page-title {
    display: none;
  }
  
  .region {
    &-content {
      position: relative;
      z-index: 1;
    }
  }
  
  #block-system-main-menu {
    position: absolute;
    bottom: 14px;
  }
  
  .field-name-field-lp-img {
    font-size: 0;
    line-height: 0;
    
    img {
      display: block;
    }
  }
  
  .breakdown-release-announcement {
    position: absolute;
    right: 3.3333%;
    top: 25px;
    width: 27.4166%;
    min-width: 110px;
    
    .content {
      a, img {
        display: block;
      }
    }
  }
}