.lp {
  &-001 {
    
    #logo {
      max-width: 321px;
      margin: 0 auto 50px;
    }
    
    &-content,
    &-bottom {
      a,
      input[type="submit"] {
        @include vendorize(transition, all 500ms);
      }
    }
    
    &-content {
      width: 100%;
      padding: 55px 20px 16px;
      background: $colLpTopBg;
      font-size: 0;
      line-height: 0;
      
      .messages {
        font-size: 14px;
        line-height: normal;
      }
      
      &> .tabs {
        font-size: 14px;
        line-height: normal;
      }
      
      .social-media {
        width: 200px;
        padding: 0;
        margin: 0 auto;
        text-align: center;
        
        li {
          list-style: none;
          display: inline-block;
          padding: 0;
          margin: 0 18px 0 0;
          
          &.facebook {
            margin-right: 22px;
            
            a {
              @include hoverActiveFocus(background, url('../images/bg-icon-facebook.png') 0 0 no-repeat);
            }
          }
          
          &.instagram {
            margin-right: 15px;
            
            a {
              @include hoverActiveFocus(background, url('../images/bg-icon-instagram.png') 0 0 no-repeat);
            }
          }
          
          &.spotify {
            margin-right: 17px;
            
            a {
              @include hoverActiveFocus(background, url('../images/bg-icon-spotify.png') 0 0 no-repeat);
            }
          }
          
          &.itunes,
          &:last-child {
            margin-right: 0;
          }
          
          &.itunes {
            a {
              @include hoverActiveFocus(background, url('../images/bg-icon-itunes.png') 0 0 no-repeat);
            }
          }
          
          &.twitter {
            a {
              @include hoverActiveFocus(background, url('../images/bg-icon-twitter.png') 0 0 no-repeat);
            }
          }
          
          &.youtube {
            a {
              @include hoverActiveFocus(background, url('../images/bg-icon-youtube.png') 0 0 no-repeat);
            }
          }
          
          a {
            position: relative;
            display: block;
            @include linkTextOffscreen();
            
            img {
              display: block;
              opacity: 1;
            }
            
            &:hover,
            &:active,
            &:focus {
              img {
                opacity: 0;
              }
            }
          }
        }
      }
      
      .field-name {
        &-field {
          &-lp {
            &-vid,
            &-img {
              width: 100%;
              max-width: 683px;
              margin: 0 auto 20px;
              
              .player {
                width: 100%;
              }
              
              iframe {
                display: block;
                margin: auto;
              }
            }
          }
        }
      }
    }
    
    &-bottom {
      padding: {
        top: 36px;
        bottom: 36px;
      }
      background: $colLpBotBg;
      font-size: 14px;
      color: #fff;
      
      .email-newsletter {
        width: 100%;
        max-width: 700px;
        padding: 0 20px;
        margin: auto;
        overflow: hidden;
        
        .block-title {
          float: left;
          width: 20%;
          margin-right: 2.0833%;
          
          h2 {
            padding: 0;
            margin: 0;
            font: {
              weight: normal;
              size: 14px;
            }
            line-height: 29px;
          }
        }
        
        .block-content,
        .block-content div {
          margin: 0;
        }
        
        .block-content {
          float: left;
          width: 77.9167%;
          
          form > div > div {
            float: left;
            
            &.name,
            &.zip {
              &-box {
                width: 23.8461%;
              }
            }
            
            &.name-box {
              margin-right: 1.0989%;
            }
            
            &.signup-box {
              width: 36.6043%;
              margin: 0 1.0989%;
            }
            
            &.form-actions {
              width: 12.4067%;
            }
          }
        }
        
        .element-invisible {
          display: none;
        }
        
        @include vendorizePlaceholder(font-family, 'Source Sans Pro');
        @include vendorizePlaceholder(font-size, 11px);
        @include vendorizePlaceholder(font-style, italic);
        @include vendorizePlaceholder(color, $colLpPlHldr);
        
        input {
          @include linkAllStates(outline, none);
          color: #fff;
          
          &[type="text"],
          &[type="email"],
          &[type="textarea"],
          &[type="select"] {
            display: block;
            margin: 0;
            padding: 0 8px 3px;
            border: 1px solid $colLpSnUpBx;
            background: #151515;
          }
          
          &[type="text"],
          &[type="email"] {
            width: 100%;
            height: 29px;
          }
          
          &[type="submit"] {
            display: block;
            height: 29px;
            width: 100%;
            background: $colLpSnUpBxBg;
            border: none;
            font-size: 13px;
            cursor: pointer;
            
            @include hoverActiveFocus(background, #fff);
            @include hoverActiveFocus(color, $colLpSnUpBxBg);
          }
        }
      }
    }
  }
}
