.field-name-field {
  &-press-item {
    &-date {
      font-style: italic;
    }
  }
}

.press {
  #block-system-main {
    max-width: 960px;
    margin-bottom: 56px;
  }
  
  .field-name-field-page-image {
    @include noText();
    
    img {
      display: block;
    }
  }
  
  &--list {
    li {
      overflow: hidden;
      margin-bottom: 50px;
      
      &:last-child {
        margin-bottom: 60px;
      }
    }
    
    &__image {
      float: left;
      width: 16.1%;
      max-width: 165px;
      @include noText();
    }
    
    &__title,
    &__body {
      float: right;
      width: 79.4573%;
      max-width: 820px;
      line-height: normal;
      color: #000;
    }
    
    &__title {
      margin-bottom: 6px;
      font-size: 24px;
      
      a {
        @include linkAllStates(color, #000);
      }
    }
    
    &__body {
      position: relative;
      clear: right;
      padding-right: 130px;
      font-size: 16px;
      
      .views-more-link {
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }
}

.block.recent-press {
  position: relative;
  left: -46px;
  width: 100%;
  max-width: 1052px;
  padding: 0 10px;
  margin: auto;
}

@media screen and (max-width: 1144px) {
  .block.recent-press {
    left: auto;
    margin: 0;
  }
}
